<div class="beerPartial">
    <div>
        <img src="{{ image_url }}" alt="beer images" class="all-beers">
    </div>
    <div>
        <h3>{{ name }}</h3>
        <h6>{{ tagline }}</h6>
        <p>{{ description }}</p>
    </div>

</div>









<!--<div class="beerInDepth">
    <div>
        <img src="{{ image_url }}" alt="">
    </div>
    <div>
        <h1>{{ name }}</h1>
        <p class="tagline">{{ tagline }}</p>
        <p class="description">{{ description }}</p>
        <p class="tips"><strong>Food Pairings:</strong></p>
        <ul>
            {{#each food_pairing}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <p class="tips"><strong>Brewer Tips:</strong> {{ brewers_tips }}</p>
    </div>
</div>-->